.classpath
*.class
*uefacoefficient*
*5-Jahres-Wertung*
src/util/TestKlasse.java
src/util/Spieldaten.java
.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.core.resources.prefs

Bundesliga/2014_2015/Kader/VfB Stuttgart-old.txt

Bundesliga/2014_2015/TSG 1899 Hoffenheim.txt

Bundesliga/2014_2015/VfL Wolfsburg.txt

Champions League Qualifikation/2014_2015/Q1/config.txt

Champions League Qualifikation/2014_2015/Q1/Ergebnisse.txt

Champions League Qualifikation/2014_2015/Q1/Spielplan.txt
