.classpath
*.class
*.ucls
*uefacoefficient*
*5-Jahres-Wertung*
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
*nextMatches.txt
Bundesliga/andereSpieler.txt
DefaultDate.txt
